.home{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #1d203b;
}

.header{
    justify-content: space-between;
    padding: 1rem;
    background-color: #676da0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.header-actions{
    padding: 1rem;
    gap: 5rem;
}




#mascot-side{
    position: relative;
    width: 50%;
    height: 100%;
}
#start-side{
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}




#start-modal{
    position: relative;

    width: 80%;
    height: 70%;
    margin: 1rem;
    padding: 2rem;
}


#start-actions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 60%;
    left: 70%;

}